    .faqHeader {
        font-family: "Gotham Book", Arial, sans-serif;
        font-size: 31px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #1594c7;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #887e7e;
    }
    .panel-heading h4 a {
        color: #1594c7;
        font-family: "Gotham Book", Arial, sans-serif;
        font-size: 18px;
    }
    .panel-heading h4 a:hover {
        text-decoration: none;
        color: #0367a1;
    
    }
    .panel-body {
        font-family: "Gotham Book", Arial, sans-serif;
        font-size: 17px;
    }
    .page-header {
        font-family: "Gotham Book", Arial, sans-serif;
        font-size: 36px;
        
    }
    .form-control{
        font-family: "Gotham Book", Arial, sans-serif;
        font-size: 14px;
        
    
    }
    .input-group-addon{
        font-family: "Gotham Book", Arial, sans-serif;
        font-size: 14px;
        background-color: #1594c7;
        color: white;
        
        
    }
    /* .input-group{
        background: #f5f5f5;
        padding: 40px 12%;
        border-radius: 5px;
        border: 1px #ddd solid;
    } */
    /*.input-group div{
        width: 100%;
    }*/
    .search-panel{
        width:100%;
        background: #f5f5f5;
        padding: 40px 12%;
        border-radius: 5px;
        border: 1px #ddd solid;
    
    }
    .search-panel p strong {
        font-size: 25px;
        color: #1594c7;
        font-family: "Gotham Book", Arial, sans-serif
    }
    .images {
        width: 100%;
        border: 1px #3366cc dotted;
        margin-top: 13px;
        padding: 10px;
        padding-left: 20%;
    }
    .images img {
        border-radius: 10px;
        width: 200px;
        height: 400px;
        background: #1594c7;
        margin-left: 10%;
        align-items: center;
    }